In [1]:
#pip install yfinance
import pandas as pd
import yfinance as yf

In [2]:
start = "2014-10-01"
end = "2024-08-09"

In [3]:
symbol = "BA"

In [4]:
df = yf.download(symbol, start, end)
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-10-01,127.370003,127.370003,124.309998,124.669998,108.406662,5265200
2014-10-02,124.400002,125.550003,123.839996,124.169998,107.971909,3204500
2014-10-03,124.660004,126.870003,124.660004,126.360001,109.876205,3075900
2014-10-06,127.089996,127.190002,125.379997,126.260002,109.789253,2681000
2014-10-07,125.519997,125.519997,123.290001,123.320000,107.232780,3554900
...,...,...,...,...,...,...
2024-08-02,175.220001,175.460007,167.250000,169.949997,169.949997,11742800
2024-08-05,162.520004,167.679993,162.500000,167.029999,167.029999,9255100
2024-08-06,168.889999,169.190002,163.389999,165.039993,165.039993,5817300
2024-08-07,167.000000,167.979996,162.990005,163.240005,163.240005,5186400
2024-08-08,164.229996,169.350006,164.000000,168.869995,168.869995,6063800

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2480 entries, 2014-10-01 to 2024-08-08
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2480 non-null   float64
 1   High       2480 non-null   float64
 2   Low        2480 non-null   float64
 3   Close      2480 non-null   float64
 4   Adj Close  2480 non-null   float64
 5   Volume     2480 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 135.6 KB

In [6]:
symbol = ["BA", "MSFT", "^DJI", "EURUSD=X", "GC=F", "BTC-USD"]

In [7]:
df = yf.download(symbol, start, end)
df

[*********************100%%**********************]  6 of 6 completed

Price        Adj Close                                                   \
Ticker              BA       BTC-USD  EURUSD=X         GC=F        MSFT
Date
2014-10-01  108.406662    383.614990  1.262834  1214.599976   39.316116
2014-10-02  107.971909    375.071991  1.262419  1214.199951   39.196186
2014-10-03  109.876205    359.511993  1.267058  1192.199951   39.478848
2014-10-04         NaN    328.865997       NaN          NaN         NaN
2014-10-05         NaN    320.510010       NaN          NaN         NaN
...                ...           ...       ...          ...         ...
2024-08-04         NaN  58116.976562       NaN          NaN         NaN
2024-08-05  167.029999  53991.457031  1.091084  2401.699951  395.149994
2024-08-06  165.039993  56034.316406  1.095098  2389.100098  399.609985
2024-08-07  163.240005  55027.460938  1.092622  2390.500000  398.429993
2024-08-08  168.869995  61710.136719  1.092813  2422.199951  402.690002

Price                          Close                                       \
Ticker              ^DJI          BA       BTC-USD  EURUSD=X         GC=F
Date
2014-10-01  16804.710938  124.669998    383.614990  1.262834  1214.599976
2014-10-02  16801.050781  124.169998    375.071991  1.262419  1214.199951
2014-10-03  17009.689453  126.360001    359.511993  1.267058  1192.199951
2014-10-04           NaN         NaN    328.865997       NaN          NaN
2014-10-05           NaN         NaN    320.510010       NaN          NaN
...                  ...         ...           ...       ...          ...
2024-08-04           NaN         NaN  58116.976562       NaN          NaN
2024-08-05  38703.269531  167.029999  53991.457031  1.091084  2401.699951
2024-08-06  38997.660156  165.039993  56034.316406  1.095098  2389.100098
2024-08-07  38763.449219  163.240005  55027.460938  1.092622  2390.500000
2024-08-08  39446.488281  168.869995  61710.136719  1.092813  2422.199951

Price       ...      Open                                            Volume  \
Ticker      ...  EURUSD=X         GC=F        MSFT          ^DJI         BA
Date        ...
2014-10-01  ...  1.262913  1207.699951   46.270000  17040.460938  5265200.0
2014-10-02  ...  1.262499  1215.300049   45.830002  16808.269531  3204500.0
2014-10-03  ...  1.266994  1212.400024   45.980000  16802.199219  3075900.0
2014-10-04  ...       NaN          NaN         NaN           NaN        NaN
2014-10-05  ...       NaN          NaN         NaN           NaN        NaN
...         ...       ...          ...         ...           ...        ...
2024-08-04  ...       NaN          NaN         NaN           NaN        NaN
2024-08-05  ...  1.091084  2442.000000  389.170013  39056.191406  9255100.0
2024-08-06  ...  1.095098  2414.500000  400.000000  38736.218750  5817300.0
2024-08-07  ...  1.092622  2392.199951  408.640015  39230.089844  5186400.0
2024-08-08  ...  1.092813  2384.300049  402.440002  38940.378906  6063800.0

Price
Ticker           BTC-USD EURUSD=X   GC=F        MSFT         ^DJI
Date
2014-10-01      26229400      0.0  178.0  38088400.0  104240000.0
2014-10-02      21777700      0.0  176.0  25119400.0   75490000.0
2014-10-03      30901200      0.0  499.0  32453200.0   87940000.0
2014-10-04      47236500      NaN    NaN         NaN          NaN
2014-10-05      83308096      NaN    NaN         NaN          NaN
...                  ...      ...    ...         ...          ...
2024-08-04   31758917219      NaN    NaN         NaN          NaN
2024-08-05  108991085584      0.0  334.0  40709200.0  661280000.0
2024-08-06   49300484106      0.0  163.0  24946500.0  462650000.0
2024-08-07   41637562185      0.0  130.0  20650900.0  428250000.0
2024-08-08   45298472567      0.0  130.0  20203000.0  376440000.0

[3600 rows x 36 columns]

In [8]:
df.to_csv("multi_assets.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3600 entries, 2014-10-01 to 2024-08-08
Freq: D
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Adj Close, BA)        2480 non-null   float64
 1   (Adj Close, BTC-USD)   3600 non-null   float64
 2   (Adj Close, EURUSD=X)  2568 non-null   float64
 3   (Adj Close, GC=F)      2478 non-null   float64
 4   (Adj Close, MSFT)      2480 non-null   float64
 5   (Adj Close, ^DJI)      2480 non-null   float64
 6   (Close, BA)            2480 non-null   float64
 7   (Close, BTC-USD)       3600 non-null   float64
 8   (Close, EURUSD=X)      2568 non-null   float64
 9   (Close, GC=F)          2478 non-null   float64
 10  (Close, MSFT)          2480 non-null   float64
 11  (Close, ^DJI)          2480 non-null   float64
 12  (High, BA)             2480 non-null   float64
 13  (High, BTC-USD)        3600 non-null   float64
 14  (High, EURUSD=X)       2568 non-null   float64
 15  (High, GC=F)           2478 non-null   float64
 16  (High, MSFT)           2480 non-null   float64
 17  (High, ^DJI)           2480 non-null   float64
 18  (Low, BA)              2480 non-null   float64
 19  (Low, BTC-USD)         3600 non-null   float64
 20  (Low, EURUSD=X)        2568 non-null   float64
 21  (Low, GC=F)            2478 non-null   float64
 22  (Low, MSFT)            2480 non-null   float64
 23  (Low, ^DJI)            2480 non-null   float64
 24  (Open, BA)             2480 non-null   float64
 25  (Open, BTC-USD)        3600 non-null   float64
 26  (Open, EURUSD=X)       2568 non-null   float64
 27  (Open, GC=F)           2478 non-null   float64
 28  (Open, MSFT)           2480 non-null   float64
 29  (Open, ^DJI)           2480 non-null   float64
 30  (Volume, BA)           2480 non-null   float64
 31  (Volume, BTC-USD)      3600 non-null   int64
 32  (Volume, EURUSD=X)     2568 non-null   float64
 33  (Volume, GC=F)         2478 non-null   float64
 34  (Volume, MSFT)         2480 non-null   float64
 35  (Volume, ^DJI)         2480 non-null   float64
dtypes: float64(35), int64(1)
memory usage: 1.0 MB